<!DOCTYPE html>
<html lang="en">
<head>
  
</head>
<body>
   <header>
    <nav>
        <div>
           <h2> MegaStore</h2>
        </div>
        <div>
            <a href="index.html">Home</a> 
            <input type="search" placeholder="Search....." id="search">
            <button>🔍</button>
        </div>
    </nav>
    <div>
        <h3>
            World's Branded <h1>fashions</h1> 
        </h3>
    </div>

   </header> 
   <section>
    <div>
        <span>
            <img src="c:\Users\user\Desktop\megaStore\B.jpeg">
        </span>
        <span>
            <img src="c:\Users\user\Desktop\megaStore\B.jpeg">
        </span>
        <span>
            <img src="c:\Users\user\Desktop\megaStore\B.jpeg">
        </span>
        <span>
            <img src="c:\Users\user\Desktop\megaStore\B.jpeg">
        </span>
    </div>
    <br>
    <div>
        <span>
            <img src="c:\Users\user\Desktop\megaStore\B.jpeg">
        </span>
        <span>
            <img src="c:\Users\user\Desktop\megaStore\B.jpeg">
        </span>
        <span>
            <img src="c:\Users\user\Desktop\megaStore\B.jpeg">
        </span>
        <span>
            <img src="c:\Users\user\Desktop\megaStore\B.jpeg">
        </span>
    </div>
   </section>
</body>
</html>