<!DOCTYPE html>
<html>

<head>
    <title>
        🛒MegaStore.com
    </title>
    <link rel="stylesheet" href="index.css">

</head>

<body>




    <nav class="nav">
        <div class="logo cal-2 shadow">
            🛒🛍️MegaStore
        </div>

        <ul class="menu cal-2 shadow">
            <li> <a href="login.html"><button>login</button></a></li>
            <li><a href="register.html"><button>Register</button></a></li>
        </ul>
    </nav>
    <!--
<img  class="img" src="C:\Users\user\Desktop\MegaStore\e-com.jpeg">
-->

    <div class="about">
        <pre>

</pre>
        Welcome to MegaStore

        The one and only <br>
        ALL IN ONE
        <br>
        Store



    </div>


    <section class="section">
        <div class="div1 cal-1">
            
            <div class="fashion1 cal-6 box">
                <img src="../static/A.jpeg" class="img1">
            <a href="fashion.html" class="cal-3">
                <h3>Fashions</h3>
            </a></div>
            <div class="footwears1 cal-6 box">  
                <img src="../static/B.jpeg" class="img1">
                 <a href="footwears.html" class="cal-3">
                <h3>Footwears</h3>
            </a></div>
            <div class="electronics1 cal-6 box"> 
                <img src="../static/D.jpeg" class="img1">
                <a href="electronics.html" class="cal-3">
                <h3>Electronics</h3>
            </a></div>

        </div> </section>
        <section class="section ">
        <div class="div2  cal-1">

            <div class="ration1 cal-6 box">


                <img src="../static/C.jpeg" class="img1">
                <a href="ration.html" class="cal-3">
                    <h3>Ration</h3>
                </a>
            </div>
            <div class="vegetable1 cal-6 box"> 
                <img src="../static/E.jpeg" class="img1">
                <a href="vegetable.html" class="cal-3">
                    <h3>Vegetables</h3>
                </a></div>
            <div class="stationary1 cal-6 box"> 
                <img src="../static/F.jpeg" class="img1">
                <a href="stationary.html" class="cal-3">
                    <h3>Stationaries</h3>
                </a></div>
        </div>
    </section>



</body>

</html>